<div class="user">
    <div class="detail">
        <div class="left">
            Name :
        </div>
        <div class="right">
            {{user.Username}}
        </div>
    </div>
    <div class="detail">
        <div class="left">
            Address :
        </div>
        <div class="right">
            {{user.UserAddress}}
        </div>
    </div>
    <div class="detail">
        <div class="left">
            Phone Number : 
        </div>
        <div class="right">
            {{user.PhoneNumber}}
        </div>
    </div>
</div>