* {
    font-family: sans-serif;   
}

.image {
    width: 100%;
    margin: 20px;
    img {
        width: 100%;
    }
}

.hotel-desc {
    color : #666666;
    margin: 20px;
}

.hotel-name {
    font-size: 20px;
    color : #222222;
    margin: 20px;
}

.hotel-address {
    color : #666666;
    margin: 20px;
}

.facility {
    font-size: 16px;
    margin: 20px;
}

.hotelFacilities {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 20px;
    .hotel-facility {
        margin: 20px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 50px;
        }
        div {
            display: flex;
            justify-content: center;
        }
    }
}






