<body>
    <div id="slider">
        <figure>
            <img src="../../../assets/slider/slider1.jpg" alt="">
            <img src="../../../assets/slider/slider2.jpg" alt="">
            <img src="../../../assets/slider/slider3.jpg" alt="">
            <img src="../../../assets/slider/slider4.jpg" alt="">
            <img src="../../../assets/slider/slider1.jpg" alt="">
        </figure>
    </div>
    <div id="quickCard-container">
        <app-quick-card></app-quick-card>
    </div>
</body>