body {
    background-color: white;

    .header {
        font-size : 20px;
        display: flex;
        justify-content: center;
        margin: 20px;
        font-family: sans-serif;
    }
    label {
        margin: 20px;
        font-family: sans-serif;
    }
    .before {
        margin: 10px;
        font-family: sans-serif;
        div {
            padding: 10px;
        }
    }
    .updateForm {
        .header-update {
            display: flex;
            justify-content: center;
            font-size: 16px;
            margin: 10px;
            font-family: sans-serif;
        }
        .form-detail {
            display: flex;
            justify-content: space-between;
            font-family: sans-serif;
            .left, .right {
                margin: 20px;
            }
        }
        .error-msg {
            color : red;
            font-size : 14px;
            display: flex;
            justify-content: center;
            font-family: sans-serif;
        }
        .update-button {
            display: flex;
            justify-content: center;
            margin: 10px;
            font-family: sans-serif;
        }
        .txt-editor {
            *,
            *:before,
            *:after {
                box-sizing: border-box;
            }
            
            .tool-list {
                display: flex;
                flex-flow: row nowrap;
                list-style: none;
                padding: 0;
                margin: 1rem;
                overflow: hidden;
                border-radius: 10px;
            }
            
            .tool--btn {
                display: block;
                border: none;
                padding: .5rem;
                font-size: 20px;
            }
            
            #output {
                height: 400px; 
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                margin: 1rem;
                padding: 1rem;
            }
        }
    }
}
