
<footer>
    <div class="firstFooter">
        <div class="contactUs">
            <img src="../../../assets/navigation/logo.png">
            <div>
                <div class="contactUs-image">
                    <img src="../../../assets/footer/message.webp">
                </div>
                <div class="contactUs-content">
                    Whatsapp <br>
                    0855 1500 878 <br>
                </div>
            </div>
            <div>
                <div class="contactUs-image">
                    <img src="../../../assets/footer/email.webp">
                </div>
                <div class="contactUs-content">
                    Email
                    <br> cs@tiket.com
                </div>
            </div>
            <div>
                <div class="contactUs-image">
                    <img src="../../../assets/footer/call.png">
                </div>
                <div class="contactUs-content">
                    Call Center <br>
                    0804 1500 878 (Indonesia only) <br>
                    +6221 3973 0888 <br>
                </div>
            </div>
        </div>
        <div class="footerChild">
            <h2> Company </h2>
            <div class="footerChild-content">
                <div><a [routerLink]="['/blog']"> Blog </a></div>
                <div><a href="https://www.tiket.com/careers" target="_blank"> Career </a></div>
                <div><a href="https://www.tiket.com/corporate" target="_blank"> Corporate </a></div>
                <div><a href="https://www.tiket.com/partner" target="_blank"> Partner </a> </div>
                <div><a href="https://www.tiket.com/tix" target="_blank"> TIX Point</a></div>
                <div><a href="https://www.tiket.com/insurance" target="_blank"> Protection</a> </div>
                <div><a href="https://www.tiket.com/info/cicilan" target="_blank"> Installment</a> </div>
                <div><a href="https://www.tiket.com/register" target="_blank"> Register Your Hotel </a> </div>
                
            </div>
        </div>
        <div class="footerChild">
            <h2> Product </h2>
            <div class="footerChild-content">
                <div><a [routerLink]="['/flight']"> Flight </a> </div>
                <div><a [routerLink]="['/hotel']" > Hotel</a> </div>
                <div><a [routerLink]="['/train']" > Train </a> </div>
                <div><a [routerLink]="['/car-rental']" > Car Rental </a> </div>
                <div><a [routerLink]="['/event']" > Entertainment </a> </div>
            </div>
            
        </div>
        <div class="footerChild">
            <h2> Support </h2>
            <div class="footerChild-content">
                <div>Help Center</div>
                <div>Terms and Conditions</div>
                <div>Privacy and Policy</div>
                <div>Worry-Free Fare</div>    
            </div>
            
        </div>
        <div class="footerChild">
            <h2> Download tiket.com app </h2>
            <div class="footerChild-content">
                <a href="http://m.onelink.me/ee4c8d9c" target="_blank"><img src="../../../assets/footer/downloadOn/googlePlay.png" ></a>
                <a href="http://m.onelink.me/6c61f6f2" target="_blank"><img src="../../../assets/footer/downloadOn/appStore.png" ></a>
            </div>
        </div>
    </div>

    <div class="secondFooter">
        <div class="partner-container">
            <div class="partner-container-divide">
                <img src="../../../assets/footer/wonderfulIndonesia.webp">
            </div>
            <div class="partner-container-divide">
                <label>Official Partner of the Ministry of Tourism, Republic of Indonesia </label>
            </div>
        </div>
        <div class="transaction-container">
            <h2> Secure Your Transaction </h2>
            <div class="transaction-content">
                <img src="../../../assets/footer/verified-visa.webp">
                <img src="../../../assets/footer/master-card.webp">
                <img src="../../../assets/footer/geoTrust.webp">
                <img src="../../../assets/footer/jcb-secure.webp">
                <img src="../../../assets/footer/safekey.webp">
            </div>
        </div>
        <div class="secondFooterDivide">
            <h2> Awards </h2>
            <div class="award-content">
                <img src="../../../assets/footer/awards/iata.webp" alt="">
                <img src="../../../assets/footer/awards/topBrand.webp" alt="">
                <img src="../../../assets/footer/awards/superbrand.webp" alt="">
            </div>
        </div>
        <div class="secondFooterDivide">
            <h2> Follow Us</h2>
            <div class="social-media-content">
                <a href="https://www.facebook.com/tiket" target="_blank"><img src="../../../assets/footer/socialMedia/facebook.png" alt=""> </a>
                <a href="https://twitter.com/tiket" target="_blank"><img src="../../../assets/footer/socialMedia/twitter.png" alt=""></a>
                <a href="https://www.linkedin.com/company/2439131" target="_blank"><img src="../../../assets/footer/socialMedia/linkedin.png" alt=""></a>
                <a href="https://www.youtube.com/user/tiketdot.com" target="_blank"><img src="../../../assets/footer/socialMedia/youtube.jpg" alt=""></a>
            </div>
        </div>
    </div>
</footer>

