* {
    font-family: sans-serif;
}

.proxy {
    position: relative;
    background-color: white;
    z-index: 200; 
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}

.my-header {
    color : #58627a;
    padding: 20px;
    label {
        color : #0064d2;
    }
}

.contents {
    display: flex;
    .left-content {
        margin: 20px;
        border: 1px solid grey;
        width: 30%;
        .header-left {
            display: flex;
            .left {
                width: 30%;
                .image {
                    margin: 10px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    img {
                        border-radius: 20px;
                        background-color: #ffc107;
                        padding: 10px;
                        width: 100%;
                        min-width: 30px;
                        max-width: 50px;
                    }
                }
            }
            .right-container {
                // width: 70%;
                margin: 10px;
                display: flex;
                align-items: center;
                .right {
                    .header-txt {
                        display: flex;
                        color: #35405a;
                        font-weight: bold;
                    }
                    .content-txt {
                        display: flex;
                        color: #58627a;  
                        font-weight: bold; 
                    }
                 }
            }
        }
        .image {
            margin: 20px;
            img {
                width: 100%;
            }
        }
        .car-name {
            font-size: 20px;
            color : #35405a;
            font-weight: bold;
            margin: 20px;
        }
        .car-passenger-baggage {
            display: flex;
            align-items: center;
            margin: 20px;
            div {
                display: flex;
                align-items: center;
                img {
                    width: 30px;
                    min-width: 30px;
                }
                label {
                    margin: 20px;
                }
            }
        }
    }
    .right-content {
        width: 70%;
        margin: 20px;
        .header {
            display: flex;
            justify-content: space-between;
            margin: 20px;
            .left {
                color: #35405a;
            }
            .right {
                color: #35405a;
                img {
                    width: 20px;
                }
            }
        }
        .contentss {
            .content-detail {
                margin: 20px;
                border: 1px solid grey;
                padding: 10px;
                display: flex;
                .left {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    .image {
                        img {
                            width: 150px;
                        }
                    }
                    .car-name {
                        margin: 20px;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                .right {
                    width: 30%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .container {
                        margin: 10px;
                        .price {
                            display: flex;
                            .price-header {
                                font-weight: bold;
                                color : #0064d2;
                                font-size : 20px;
                            }
                            .per-day {
                                margin-top: 10px;
                                color : #8a93a7;
                                font-size : 12px;
                            }
                        }
                        .btn {
                            display: flex;
                            justify-content: flex-end;
                            button {
                                margin-top: 10px;
                                font-size: 16px;
                                color : #0064d2;
                                background-color: #ffc107;
                                padding: 16px;
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .contents {
        flex-wrap: wrap;
        .right-content {
            width: 100%;
        }
        .left-content {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .header-left {
                align-items: center;
            }
        }
    }
}

@media(max-width: 550px) {
    .contents {
        flex-wrap: wrap;
        .left-content {
            width: 100%;
            .car-passenger-baggage {
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
        .right-content {
            .contents {
                .content-detail {
                    flex-wrap: wrap;
                    .right {
                        width: 100%;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

}

@media(max-width : 350px) {
    .contents {
        .right-content{
            .contents {
                .content-detail {
                    .left {
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}