/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.backdropColor {
    background-color: rgba($color: black, $alpha: 0.5);
}

.panelColor {
    .mat-dialog-container{
        background-color: transparent;
        box-shadow: none;
        overflow: hidden;
    }
} 